<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzw.mysite.mapper.Blog2TagMapper">

    <insert id="saveBlog2Tag">
        insert into blog.blog2tag
        (blog_id, tag_id)
        value
        (#{blog_id}, #{tag_id})
    </insert>

    <delete id="removeBlog2Tag">
        delete from blog.blog2tag where blog_id=#{blog_id} and tag_id=#{tag_id}
    </delete>

    <delete id="removeBlog2TagByBlog">
        delete from blog.blog2tag where blog_id=#{blog_id}
    </delete>

    <delete id="removeBlog2TagByTag">
        delete from blog.blog2tag where tag_id=#{tag_id}
    </delete>

    <update id="updateBlog2Tag">
        update blog.blog2tag set tag_id=#{new_tag_id} where blog_id=#{blog_id} and tag_id=#{old_tag_id}
    </update>

    <select id="queryTagsByBlogId" parameterType="int" resultType="Tag">
        select bt.tag_id, t.tag_name from blog.blog2tag as bt
         left join blog.blog_tag as t on bt.tag_id = t.tag_id
         where blog_id=#{blog_id}
    </select>


</mapper>