<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--  导航  -->
<nav th:replace="admin/_admin_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
</nav>

<!--  中间  -->
<div class="m-container m-padded-tb-large animated fadeIn">
    <div class="ui container">
        <!-- 提示消息 -->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p>分类  <b th:text="${typeName}">如何健身</b>  <span th:text="${message}">新增成功</p>
        </div>

        <div class="ui middle aligned two column grid">
            <div class="column">
                <h2 class="ui dividing header">分类</h2>
            </div>
            <div class="right aligned column">
                共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.total}">14</h2> 个
            </div>
        </div>

        <table class="ui compact teal table">
            <thead>
                <tr>
                    <th></th>
                    <th>分类</th>
                    <th>数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="type, iterStat  : ${pageInfo.list}">
                    <!-- 排序 -->
                    <td th:text="${(pageInfo.pageNum - 1) * pageInfo.pageSize + iterStat.count}">3</td>
                    <!-- 分类 -->
                    <td>
                        <a href="#" target="_blank" th:href="@{/types/{id}(id=${type.type_id})}" th:text="${type.type_name}">
                            刻意练习
                        </a>
                    </td>
                    <!-- 数量 -->
                    <td th:text="${type.blog_num}">
                        17
                    </td>
                    <!-- 操作 -->
                    <td>
                        <a href="#" target="_blank" th:href="@{/types/{id}(id=${type.type_id})}" class="ui blue icon circular button"><i class="file alternate icon"></i></a>
                        <a href="#" th:href="@{/admin/type/update/{id}(id=${type.type_id})}" class="ui yellow icon circular button" ><i class="edit icon"></i></a>
                        <div  th:attr="data-typeid=${type.type_id}" class="ui red icon circular button" onclick="deleteType(this)"><i class="trash alternate icon"></i></div>
                    </td>
                </tr>
            </tbody>
            <!-- 结尾，底部分页+导航 -->
            <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui mini pagination menu">
                            <div th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'?pageNo=1'" class="item">首页</a>
                            </div>
                            <div th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'?pageNo='+${pageInfo.prePage}" class="item">上一页</a>
                            </div>
                            <div th:each="nav : ${pageInfo.navigatepageNums}">
                                <a th:href="'?pageNo='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}" class="item"></a>
                                <span style="font-weight: bold" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" class="item"></span>
                            </div>
                            <div th:if="${pageInfo.hasNextPage}">
                                <a th:href="'?pageNo='+${pageInfo.nextPage}" class="item">下一页</a>
                            </div>
                            <div th:if="${pageInfo.hasNextPage}">
                                <a th:href="'?pageNo='+${pageInfo.pages}" class="item">尾页</a>
                            </div>

                        </div>
                        <a href="#" th:href="@{/admin/type/publish}" class="ui right floated green icon circular button"><i class="plus icon"></i></a>
                    </th>
                </tr>
            </tfoot>
        </table>

    </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- 确认删除 -->
<div class="ui container">
    <div class="ui tiny basic modal">
        <i class="close icon"></i>
        <div class="header">确定删除该分类吗？</div>
        <div class="content">
            分类删除后相关博客<strong>不会</strong>一并删除，是否确定删除？
        </div>
        <div class="actions">
            <div class="ui red deny button">
                取消
            </div>
            <div class="ui positive right labeled icon button">
                确认
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>

<!--  底部footer  -->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">

                    <a href="#" class="item">Email <i class="envelope outline icon"></i>ryanzhouzw@foxmail.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，请多多关注和支持</p>
            </div>
        </div>

        <!--分割线-->
        <div class="ui inverted section divider"></div>

        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2021</p>
    </div>
</footer>

<th:block th:replace="_fragments :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</th:block>

<script th:inline="javascript">

    function deleteType(obj) {
        var typeId = $(obj).data('typeid');
        var url = /*[[@{/admin/type/delete}]]*/"";
        url += "/" + typeId;
        console.log("删除请求URL：" + url);
        confirmDelete(url);
    }
</script>
</body>
</html>