<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理 - 修改密码</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--  导航  -->
<nav th:replace="admin/_admin_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>管理</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>发布</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                        Zzw
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--  中间  -->
<div class="m-container-tiny m-padded-tb-large animated fadeIn">
    <div class="ui container" >
        <div class="ui message" th:classappend="${status} == 'success' ? 'success' : 'negative'"  th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>

        <form class="ui pwd form" th:action="@{/admin/pwd/edit}" method="post">
            <h2 class="ui dividing header">账号密码修改</h2>
            <div class="required field">
                <label>旧密码</label>
                <div class="ui icon input">
                    <input type="password" name="oldPwd" placeholder="请输入你的旧密码...">
                    <i class="lock icon"></i>
                </div>
            </div>
            <div class="required field">
                <label>新密码</label>
                <div class="ui icon input">
                    <input type="password" name="newPwd" placeholder="请输入你的新密码...">
                    <i class="lock icon"></i>
                </div>
            </div>
            <div class="required field">
                <label>确认新密码</label>
                <div class="ui icon input">
                    <input type="password" name="confirmPwd" placeholder="请再次确认你的新密码...">
                    <i class="lock icon"></i>
                </div>
            </div>
            <div class="ui right aligned fluid container">
                <a href="#" th:href="@{/admin/index}" class="ui button"><i class="arrow left icon"></i>返回</a>
                <button type="submit" class="ui green button"><i class="save outline icon"></i>保存</button>
            </div>
        </form>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<!--  底部footer  -->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">

                    <a href="#" class="item">Email <i class="envelope outline icon"></i>ryanzhouzw@foxmail.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，请多多关注和支持</p>
            </div>
        </div>

        <!--分割线-->
        <div class="ui inverted section divider"></div>

        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2021</p>
    </div>
</footer>

<th:block th:replace="_fragments :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</th:block>
<script src="../static/js/pwd.js" th:src="@{/js/pwd.js}"></script>

</body>
</html>